 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    
    <div class="tech">
      <h2>           Languages and Tools     </h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>

      <p>Ecossistema Hadoop: MapReduce, Yarn, HDFS, Zookeeper, Hive, Pig, Storm, Spark, Flink, Hbase, Flume, Kafka, Sqoop, NiFi, Knox, Range, Kinesis.
        Cloud Computing (AWS) > S3, EC2, Lambda, VPC, RDS, IAM, (Azure Microsoft)Azure SQL Data Warehouse, Azure Blob Storage, Azure Data Factory, SSIS, Azure Data Lake Analytics, Azure Data Lake Storage, Azure HDInsight, Azure Machine Learning Studio.
        Linguagem SQL,NoSQL, DAX, Python. Linux.
    Tools > Elastic Search, Pentaho, Tableau, PowerBi, Oracle Database 12c, GoldenGate, Docker, Kubernets, Github, MySQL, MongoDB, PostgreSQL, SQLServer, Protocolo Kerberos,
    </p>
    </div>
    
</div>
