 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    
    <div class="tech">
      <h2>           Languages and Tools     </h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-apache-original-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-hive-plain colored"></i>
      <i class="devicon-cassandra-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-sqoop-plain colored"></i>
      <i class="devicon-spark-plain colored"></i>
      <i class="devicon-hadoop-plain colored"></i>
      <p>Ecossistema Hadoop : Flume, Kafka, Sqoop, Hive, Pig, Zookeeper,NiFi, Storm ,Cloud Computing, Kinesis, SQL </p>
    </div>
    
</div>
