<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data-warehouse" src="{{ "/assets/img/Data-warehouse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Projeto Implementando um Data Warehouse On Premises </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>O primeiro passo do meu projeto é olhar com o lado do consultor vamos implementar a DW, mas também vamos entender as necessidades do Cliente sempre utilizando as melhores práticas do PMI (Project Management Institute) para gestão de projetos e ITIL (Information Technology Infrastructure Library) que são boas práticas e focam em alinhar os serviços de TI com as necessidades dos negócios. Estamos passando por cada passo. Sessão de captura de conhecimento com gestores, pesquisa de exigências com analistas funcionais e definição de arquitetura com equipe de TI.</p>
    <a class="project-link" href="https://github.com/pand-eX/DataWarehouseOracle">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Redshift" src="{{ "/assets/img/Redshift.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Deploying a Cloud Data Warehouse with Amazon Redshift AWS Service </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Seria possível montar um Data Warehouse para armazenamento e processamento de petabytes de dados em apenas alguns cliques? A resposta que vou deixar para você verificar o projeto!!!</p>
    <a class="project-link" href="https://github.com/pand-eX/DwNuvem">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kinesis" src="{{ "/assets/img/kinesis.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Carregando dados de streaming no cluster Redshift </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Vou tomar como base que você viu o Project Data Warehouse em Nuvem com o Amazon Redshift, aqui vou explicar de forma rápida e direta como executar uma carga de dados em tempo real (streaming de dados) A AWS oferece algumas soluções que nos permitem executar esse tipo de tarefa. Usarei o Amazon Kinesis Data Firehose que permite consumir, buffer e processar dados de streaming em tempo real, fornecendo insights em segundos ou minutos em vez de horas ou dias. Lembre-se de verificar os termos e preços de qualquer produto AWS!</p>
    <a class="project-link" href="https://github.com/pand-eX/LoadStreamingData">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data Lake" src="{{ "/assets/img/Data-Lake.jpg" | prepend: site.baseurl }}" />
  </div>
<div class="contents-right">
  <h3> Implementando um Data Lake On-Premises </h3>
  <ul>
    <li> Featured Skills</li>
  </ul>
  <p>Esse projeto tem como base implementar um Data Lake do zero On-Premises e buscar entender o conceito de Data Lake e principais diferenças de um Data Warehouse  </p>
  <a class="project-link" href="https://github.com/pand-eX/DataLake-On-Premises">Check it out</a>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Golden" src="{{ "/assets/img/GoldenGate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Alta Disponibilidade em Streaming de dados Transacionais </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Alta Disponibilidade dos dados utilizando Golden Gate com dois cenários o primeiro será Streaming de dados Transacionais entre 2 Database e no cenário 2 a replicação entre Banco Relacional e o HDFS.</p>
    <a class="project-link" href="https://github.com/pand-eX/Alta_disponibilidade_Streaming">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data-Lake-HA" src="{{ "/assets/img/Data-Lake-HA.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Alta Disponibilidade no Data Lake </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Parte 1. Configuração e Implementação de Alta Disponbilidade no Data Lake.!</p>
    <a class="project-link" href="https://github.com/pand-eX/Data_Lake_HA">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Data Lake" src="{{ "/assets/img/Kerberos.jpg" | prepend: site.baseurl }}" />
  </div>
<div class="contents-right">
  <h3> Configurando Segurança no Cluster Hadoop Data Lake com Kerberos. </h3>
  <ul>
    <li> Featured Skills</li>
  </ul>
  <p>Como engenheiro de Dados, precisamos aprender como implementar políticas de autenticação, autorização e auditoria para acessar e usar dados armazenados no cluster Hadoop, bem como proteger os dados em trânsito e em repouso. Essa é a parte 2 do projeto. Na primeira instalamos e configurando um Data Lake com clustere Hadoop e nesse segundo projeto implementamos Segurança com Kerberos.</p>
  <a class="project-link" href="https://github.com/pand-eX/Seguran-a_no_Data_Lake-KERBEROS">Check it out</a>
</div>