<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data-warehouse" src="{{ "/assets/img/Data-warehouse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Implementing a Data Warehouse On Premises </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>First step of my project is to look with consultant side we will implement DW but we will also understand and understand the needs of the Client always using the best practices of pmi (Project Management Institute) for project management and ITIL (Information Technology Infrastructure Library) that are good practices and focuses on aligning IT services with business needs. We're going through every step. Knowledge capture session with managers, requirement survey with functional analysts and definition of architecture with IT staff.</p>
    <a class="project-link" href="https://github.com/pand-eX/DataWarehouseOracle">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Redshift" src="{{ "/assets/img/Redshift.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Deploying a Cloud Data Warehouse with Amazon Redshift AWS Service </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Would it be possible to mount a Data Warehouse for storage and processing petabytes of data in just a few clicks? The answer I'll leave for you to check out the project!!!</p>
    <a class="project-link" href="https://github.com/pand-eX/DwNuvem">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kinesis" src="{{ "/assets/img/kinesis.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Loading Streaming Data into the Redshift Cluster </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Amazon Kinesis makes it easy to collect, process, and analyze streaming data in real time, enabling you to gain timely insights and react quickly to new information. Amazon Kinesis provides essential features for processing streaming data at any scale cost-effectively, plus the flexibility to choose the tools that best fit application requirements. With Amazon Kinesis, you can consume real-time data such as video, audio, application logs, website clickstreams, and IoT telemetry data for machine learning, analytics, and other applications. Amazon Kinesis lets you process and analyze data as soon as it's received and respondents instantly, rather than waiting for data collection to complete so you can start processing.!!!</p>
    <a class="project-link" href="https://github.com/pand-eX/LoadStreamingData">Check it out</a>
  </div>
</div>
