<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Data-warehouse" src="{{ "/assets/img/Data-warehouse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Implementing a Data Warehouse On Premises </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>First step of my project is to look with consultant side we will implement DW but we will also understand and understand the needs of the Client always using the best practices of pmi (Project Management Institute) for project management and ITIL (Information Technology Infrastructure Library) that are good practices and focuses on aligning IT services with business needs. We're going through every step. Knowledge capture session with managers, requirement survey with functional analysts and definition of architecture with IT staff.</p>
    <a class="project-link" href="https://github.com/pand-eX/DataWarehouseOracle">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Redshift" src="{{ "/assets/img/Redshift.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Deploying a Cloud Data Warehouse with Amazon Redshift AWS Service </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Would it be possible to mount a Data Warehouse for storage and processing petabytes of data in just a few clicks? The answer I'll leave for you to check out the project!!!</p>
    <a class="project-link" href="https://github.com/pand-eX/DwNuvem">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kinesis" src="{{ "/assets/img/kinesis.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Loading Streaming Data into the Redshift Cluster </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>I will take as a basis that you saw the Project Data Warehouse in Cloud with Amazon Redshift, here I will explain quickly and directly how to perform a real-time data load (Streaming data) AWS offers some solutions that allow us to perform this type of task. I'll use Amazon Kinesis Data Firehose it allows to consume, buffer, and process streaming data in real time, providing insights in seconds or minutes instead of hours or days. Remember to check the terms and pricing of any AWS product!.!!!</p>
    <a class="project-link" href="https://github.com/pand-eX/LoadStreamingData">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Data Lake" src="{{ "/assets/img/Data-Lake.jpg" | prepend: site.baseurl }}" />
  </div>
<div class="contents-right">
  <h3> Implementing a Data Lake On-Premises </h3>
  <ul>
    <li> Featured Skills</li>
  </ul>
  <p>We will implement a Project of a Data Lake On-premises. Understanding your concept and difference from a Data Warehouse. Data Lake is a concept not a platform !!! </p>
  <a class="project-link" href="https://github.com/pand-eX/DataLake-On-Premises">Check it out</a>
</div>
</div>
